<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CITL_NID_SDK"
        tools:targetApi="31">

        <activity
            android:name="citl_nid_sdk.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="citl_nid_sdk.CaptureNIDActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDEnterpriseSDK" />

        <activity
            android:name="citl_nid_sdk.SelfieActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDEnterpriseSDK" />

        <activity
            android:name="citl_nid_sdk.ProcessingActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDEnterpriseSDK" />

        <activity
            android:name="citl_nid_sdk.ResultActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDEnterpriseSDK" />

        <activity
            android:name="citl_nid_sdk.VerificationActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDVerification" />

        <activity
            android:name="citl_nid_sdk.VerificationSummaryActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDVerification" />

        <activity
            android:name="citl_nid_sdk.NidInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDVerification" />

        <activity
            android:name="citl_nid_sdk.SelfieCaptureActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDVerification" />

        <activity
            android:name="citl_nid_sdk.CropActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.NIDVerification" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>